html, body, header, nav, main, footer, article, section, div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

html, body, header, nav, main, footer, article, section, div, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5 { font-weight: bold; }

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
}
