body {
  font-family: Georgia;
}

nav {
  flex-direction: row;
  justify-content: center;

  margin: 4rem 0;
}

nav a:not(:first-child) {
  margin-left: 1rem;
}

footer {
  margin: 4rem 2rem;
  max-width: 30em;
}

footer > :not(:first-child) {
  margin-top: 1rem;
}

footer .licenses {
  flex-direction: row;
}

footer .licenses div {
  margin-left: 1rem;
  align-items: flex-start;
}

footer .licenses div > :not(:first-child) {
  margin-top: 0.5rem;
}
