body {
  font-family: Georgia;
}

nav {
  flex-direction: row;
  justify-content: center;

  margin: 4rem 0;
}

nav a:not(:first-child) {
  margin-left: 1rem;
}

footer {
  margin: 4rem 2rem;
  max-width: 30em;
}

footer section {
  width: 100%;
}

footer section p {
  width: 100%;
}

footer section:not(:first-child) {
  margin-top: 1rem;
}
