body {
  font-family: Georgia, serif;
	align-items: center;
  width: 100%;
}

nav {
  flex-direction: row;
  justify-content: center;

  margin: 4rem 0;
}

nav a:not(:first-child) {
  margin-left: 1rem;
}

main {
  width: calc(100% - 4rem);
  max-width: 40em;
}

main h1 {
  align-self: center;
}

main .rss {
  align-self: center;
  margin-top: 1rem;
}

main .blog-index {
  margin-top: 2rem;
}

main .blog-index li:not(:first-child) {
  margin-top: 1.25rem;
}

main article {
  width: 100%;
}

footer {
  align-items: center;
  margin: 4rem 2rem;
  max-width: 30em;
}

footer > :not(:first-child) {
  margin-top: 1rem;
}

footer .licenses {
  flex-direction: row;
  align-items: center;
}

footer .licenses div {
  margin-left: 1rem;
  align-items: flex-start;
}

footer .licenses div > :not(:first-child) {
  margin-top: 0.5rem;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.2;
}

.route {
  margin-top: 1rem;
}

.route .stars {
  margin-right: 0.5rem;
}

.route .stars svg {
  height: 18px;
  width: 18px;
}

.route time {
  font-style: italic;
}

.route p:first-child {
  margin-top: 0.2rem;
}

.route p:not(:first-child) {
  margin-top: 0.4rem;
}
